/* Style Sheet created by ImportDoc 13.0 */

P { margin-top:0in; margin-right:0in; margin-bottom:10.0pt; font-size:10.0pt; font-family:Arial; text-align:justify; margin-left:0px; text-indent:48px; line-height:Normal;  }

LI.P { font-size:10.0pt; font-family:Arial; text-align:justify; text-indent:48px; line-height:Normal;  }

OL { margin-top:0px; margin-bottom:0px;  }

UL { margin-top:0px; margin-bottom:0px;  }

