/*Created with Adobe RoboHelp 2015.*/
BODY 
/* Style Sheet created by ImportDoc 13.0 */ {
	font-family: Arial;
	background-color: #ffffff;
	font-size: 10.0pt;
	padding-left: 0pt;
}
P {
	margin: 0;
	font-size: 10.0pt;
	text-indent: 20px;
	margin-left: 0in;
}
LI.p {
	font-size: 10.0pt;
	text-indent: 20px;
}
LI.kadov-P {
	font-size: 10.0pt;
}
OL {
	margin-top: 0px;
	margin-bottom: 0px;
}
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}
p.PdfParaStyle01 {
	margin-top: 0;
	margin-left: 0;
	text-align: center;
	color: #000000;
	x-used-count: 1;
	text-indent: 0px;
	font-size: 10.0pt;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 10px;
}
LI.p-PdfParaStyle01 {
	text-align: center;
	font-weight: bold;
	color: #000000;
	x-used-count: 1;
	text-indent: 0px;
	font-size: 10.0pt;
	font-family: Arial, sans-serif;
}
LI.kadov-p-CPdfParaStyle01 {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	x-used-count: 1;
}
p.PdfParaStyle02 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
	font-family: "Arial-Bold MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	x-used-count: 1;
}
LI.p-PdfParaStyle02 {
	text-align: center;
	font-family: "Arial-Bold MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	x-used-count: 1;
}
LI.kadov-p-CPdfParaStyle02 {
	text-align: center;
	font-family: "Arial-Bold MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	x-used-count: 1;
}
p.PdfParaStyle03 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
	font-family: "Arial-Bold MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	x-used-count: 3;
}
LI.p-PdfParaStyle03 {
	text-align: center;
	font-family: "Arial-Bold MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	x-used-count: 3;
}
LI.kadov-p-CPdfParaStyle03 {
	text-align: center;
	font-family: "Arial-Bold MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	x-used-count: 3;
}
p.PdfParaStyle04 {
	font-weight: bold;
	x-used-count: 3;
	margin-top: 0pt;
	margin-left: 60px;
	text-indent: -60px;
	font-size: 10.0pt;
	font-family: Arial, sans-serif;
	color: #252525;
	margin-right: 10px;
}
LI.p-PdfParaStyle04 {
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	x-used-count: 3;
	text-indent: -62px;
	font-family: Arial, sans-serif;
}
LI.kadov-P-CPdfParaStyle04 {
	font-family: "Arial-Bold MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	x-used-count: 3;
	text-indent: -62px;
}
p.PdfParaStyle05 {
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 10pt;
	text-indent: 20px;
	font-family: "Arial MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	x-used-count: 3;
	text-align: Justify;
}
LI.p-PdfParaStyle05 {
	text-indent: 20px;
	font-family: "Arial MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	x-used-count: 3;
	text-align: Justify;
}
LI.kadov-p-CPdfParaStyle05 {
	text-indent: 20px;
	font-family: "Arial MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	x-used-count: 3;
	text-align: Justify;
}
p.PdfParaStyle06 {
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	text-indent: 20px;
	font-family: "Arial MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	x-used-count: 1;
	text-align: Justify;
}
LI.p-PdfParaStyle06 {
	text-indent: 20px;
	font-family: "Arial MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	x-used-count: 1;
	text-align: Justify;
}
LI.kadov-p-CPdfParaStyle06 {
	text-indent: 20px;
	font-family: "Arial MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	x-used-count: 1;
	text-align: Justify;
}
p.PdfParaStyle07 {
	text-indent: 30px;
	font-family: "Arial MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	x-used-count: 1;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	text-align: Justify;
}
LI.p-PdfParaStyle07 {
	text-indent: 30px;
	font-family: "Arial MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	x-used-count: 1;
	text-align: Justify;
}
LI.kadov-p-CPdfParaStyle07 {
	text-indent: 30px;
	font-family: "Arial MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	x-used-count: 1;
	text-align: Justify;
}
p.PdfParaStyle08 {
	text-indent: 0px;
	font-family: "Arial-Italic MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	color: #000000;
	x-used-count: 1;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 25pt;
	text-align: Justify;
}
LI.p-PdfParaStyle08 {
	text-indent: 0px;
	font-family: "Arial-Italic MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	color: #000000;
	x-used-count: 1;
	text-align: Justify;
}
LI.kadov-p-CPdfParaStyle08 {
	text-indent: 0px;
	font-family: "Arial-Italic MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	color: #000000;
	x-used-count: 1;
	text-align: Justify;
}
p.PdfParaStyle10 {
	margin-top: 10px;
	margin-left: 0px;
	text-indent: 0px;
	font-weight: normal;
	font-style: italic;
	x-used-count: 1;
	font-size: 10.0pt;
	font-family: Arial, sans-serif;
	color: #000000;
	margin-right: 10px;
}
LI.p-PdfParaStyle10 {
	text-indent: 0px;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	color: #000000;
	x-used-count: 1;
	font-family: Arial, sans-serif;
}
LI.kadov-p-CPdfParaStyle10 {
	text-indent: 0px;
	font-family: "Arial-Italic MT", Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	color: #000000;
	x-used-count: 1;
}
p {
	margin: 0;
	text-indent: 20px;
	margin-left: 0in;
	margin: 0;
	text-indent: 20px;
	margin-left: 0in;
	margin: 0;
	text-indent: 20px;
	margin-left: 0in;
	margin: 0;
	text-indent: 20px;
	margin-left: 0in;
	margin: 0;
	text-indent: 20px;
	margin-left: 0in;
	margin: 0;
	text-indent: 20px;
	margin-left: 0in;
	margin: 0;
	text-indent: 20px;
	margin-left: 0in;
	margin: 0;
	margin: 0;
	margin: 0;
	margin: 0in;
	margin-bottom: .0001pt;
	text-autospace: none;
	text-align: justify;
	font-size: 10.0pt;
	font-family: Arial, sans-serif;
	color: #000000;
	margin-right: 10px;
}
LI.p {
	font-size: 10.0pt;
	font-size: 10.0pt;
	font-size: 10.0pt;
	text-autospace: none;
	font-size: 10.0pt;
	font-family: Arial, sans-serif;
	text-align: justify;
}
