/*Created with Adobe RoboHelp 9.*/
/* Style Sheet created by ImportDoc 13.0 */
p {
	margin: 0in;
	margin-bottom: .0001pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
/* Style Sheet created by ImportDoc 13.0 */
LI.p {
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
p.Index1 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	text-indent: -.5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-Index1 {
	text-indent: -.5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
p.Index2 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-Index2 {
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
p.Toc1 {
	margin-top: 24.0pt;
	margin-right: .5in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	text-indent: -.5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-Toc1 {
	text-indent: -.5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
p.Toc2 {
	margin-top: 0in;
	margin-right: .5in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-Toc2 {
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
p.Toc3 {
	margin-top: 0in;
	margin-right: .5in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-Toc3 {
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
p.Toc4 {
	margin-top: 0in;
	margin-right: .5in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-Toc4 {
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
p.Toc5 {
	margin-top: 0in;
	margin-right: .5in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-Toc5 {
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
p.Toc6 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	text-indent: -.5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-Toc6 {
	text-indent: -.5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
p.Toc7 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	text-indent: -.5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-Toc7 {
	text-indent: -.5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
p.Toc8 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	text-indent: -.5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-Toc8 {
	text-indent: -.5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
p.Toc9 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	text-indent: -.5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-Toc9 {
	text-indent: -.5in;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
p.FootnoteText {
	margin: 0in;
	margin-bottom: .0001pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-FootnoteText {
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
p.Caption {
	margin: 0in;
	margin-bottom: .0001pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-Caption {
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
span.FootnoteReference {
	vertical-align: super;
}
span.EndnoteReference {
	vertical-align: super;
}
p.EndnoteText {
	margin: 0in;
	margin-bottom: .0001pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-EndnoteText {
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
p.ToaHeading {
	margin: 0in;
	margin-bottom: .0001pt;
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
LI.p-ToaHeading {
	line-height: 12.0pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
}
span.EquationCaption {
}
OL {
	margin-top: 0px;
	margin-bottom: 0px;
}
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}
p.InlineNormal2 {
	margin: 0in;
	margin-bottom: .0001pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
	margin-left: 1.0in;
	text-align: justify;
	text-indent: -1.0in;
	line-height: 12.0pt;
	letter-spacing: -.15pt;
}
LI.p-InlineNormal2 {
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
	text-align: justify;
	text-indent: -1.0in;
	line-height: 12.0pt;
	letter-spacing: -.15pt;
}
p.InlineNormal3 {
	margin: 0in;
	margin-bottom: .0001pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
	margin-left: .5in;
	text-align: justify;
	text-indent: -.5in;
	line-height: 12.0pt;
	letter-spacing: -.15pt;
}
LI.p-InlineNormal3 {
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
	text-align: justify;
	text-indent: -.5in;
	line-height: 12.0pt;
	letter-spacing: -.15pt;
}
p.InlineNormal4 {
	margin: 0in;
	margin-bottom: .0001pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
	text-align: justify;
	line-height: 12.0pt;
}
LI.p-InlineNormal4 {
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
	text-align: justify;
	line-height: 12.0pt;
}
p.InlineNormal {
	margin: 0in;
	margin-bottom: .0001pt;
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
	text-align: justify;
	letter-spacing: normal;
	line-height: Normal;
}
LI.p-InlineNormal {
	text-autospace: none;
	font-size: 12.0pt;
	font-family: "Times Roman";
	text-align: justify;
	letter-spacing: normal;
	line-height: Normal;
}
p.InlineNormal1 {
	margin: 0in;
	margin-bottom: .0001pt;
	text-autospace: none;
	font-size: 12.0pt;
	text-align: justify;
	font-weight: bold;
	letter-spacing: normal;
	font-family: Arial, sans-serif;
	line-height: Normal;
	color: #008000;
}
LI.p-InlineNormal1 {
	text-autospace: none;
	font-size: 12.0pt;
	text-align: justify;
	font-weight: bold;
	letter-spacing: normal;
	font-family: Arial, sans-serif;
	line-height: Normal;
	color: #008000;
}
